<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>
        <title>Mission to Mars</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    </head>

    <body>
        <div class='container'>
            <div class='jumbotron text-center'>
                <h1>Mission to Mars</h1>
                <p><a class='btn btn-primary btn-lg' href='/scrape' role='button'>Scrape new data</a></p>
            </div>
            <!-- Latest Mars News -->
            <h2>Latest Mars News</h2>
            <h3>NASA's Briefcase-Size MarCO Satellite Picks Up Honors</h3>
            <p> The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.</p>
            <!-- Features Mars Image -->
            <h2>Featured Mars Image</h2>
            <img src="https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA08003_ip.jpg" alt="Featured Mars Image" width="600" height="600">
            <!-- Current Weather on Mars -->
            <h3>Current Weather on Mars</h3>
            <p>InSight sol 366 (2019-12-07) low -98.9ºC (-146.1ºF) high -20.4ºC (-4.8ºF)
                winds from the SSE at 5.7 m/s (12.6 mph) gusting to 20.4 m/s (45.5 mph)
                pressure at 6.60 hPa</p>
            <!-- Mars Facts -->
            <h3>Mars Facts</h3>
            <!-- Mars Hemispheres -->
            <h2>Mars Hemispheres</h2>
            <img src="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" Cerberus Hemisphere Enhanced width="400" height="400">
            <img src="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg" alt="Schiaparelli Hemisphere Enhanced" width="400" height="400">
            <img src="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg" alt="Syrtis Major Hemisphere Enhanced" width="400" height="400">
            <img src="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg" alt="Valles Marineris Hemisphere Enhanced" width="400" height="400">

            <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" id="logo">Cerberus Hemisphere Enhanced</a>
            <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg" id="logo">Schiaparelli Hemisphere Enhanced</a>
            <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg" id="logo">Syrtis Major Hemisphere Enhanced</a>
            <a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg" id="logo">Valles Marineris Hemisphere Enhanced</a>

        </div>
    </body>
</html>